*{  margin: 0 auto;
    font-family:sans-serif;
}

/* Shared Style  */
.btn-gradient
{   color: white;
    background: linear-gradient(to top right, #F7E93F,#FB09B4,#9100F8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 1.5rem;
}

.wave{
        background: linear-gradient(to top, #F7E93F,#FB09B4,#9100F8);
        background-clip: text;
        color: transparent;
}
.btn-green{
    color: #00ff88;
    border: 1px solid #00ff88;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-evenly;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1.5rem;
}
/* header section  */
header{
    margin: 0 auto;
    background-color: #1A0B2E;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1A0B2E ;
    padding: 1.5rem;

}
.nav-title{
    color: white;
    font-weight: 700;
}
.burger{
    display: none;
}
.links{
    display: flex;
    gap: 2rem;
}
.links li{
    list-style: none;
}
.links a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1rem;
}
.banner{
    height: 48rem;
    max-width: 1600px;
    background: url("../assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;

}
.banner-circle{

    width: 350px;
    position:absolute;
    margin-top: -250px;
}
.banner-mike{
    position: absolute;
    margin-top: -250px;
}
.banner-new{
    position: absolute;
    background-color: #00ff88;
    border-radius: 1rem;
    width: 2rem;
    padding: 5px 10px;
    margin-top: -500px;
    margin-right: -250px;
}
.banner-title{
    margin-top: 300px;
    font-size: 2rem;
    font-weight: 700px;
    color: white;
}
.banner-info{
    text-align: center;
    color: white;
    font-weight: 200;
    margin: 30px;
}
.banner-btn{
    display: flex;
    gap: 10px;
}

        /* main section  */

main{
    margin: 0 auto;
    /* max-width: 1600px; */
    text-align: center;
    background-color: #1A0B2E;
    margin-top: -1rem;
    margin-bottom: -100px;
    padding-top: 3rem;
    padding-bottom: 80px;
}
.about-section{
    max-width: 1200px;
}
.about-text{
    /* max-width: 800px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    padding-bottom: 80px;
    border-bottom: 1px solid gray;
}
.about-text h1,.card-title{
    font-size: 3rem;
    color: white;
}
.about-text p{
    max-width: 800px;
    font-size: 1rem;
    font-weight: 200;
    line-height: 2;

}
.about-data{
    margin: 100px 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}
.about-data-info h1{
    font-size: 3rem;
    font-weight: 900;
    color: #00ff88;
}
.about-data-info h4{
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
.card-section{
    max-width: 1200px;
    padding: 7rem auto;
}
.card-title{
    margin: 3rem;
}
.cards{
    display: grid ;
    gap: 20px;
    grid-template-areas: "card1 card2 card2"
                         "card1 card3 card3"
                         "card4 card4 card5"
    ;
}
#A{
    grid-area: card1 ;
}
#B{
    grid-area: card2 ;
}
#C{
    grid-area: card3 ;
}
#D{
    grid-area: card4 ;
}
#E{
    grid-area: card5 ;
}
.card{
    text-align: left;
    padding: 40px;
    color: white;
    background-color: #351165;
    justify-items: stretch;
    width:100%;
    border-radius: 2rem;
    box-sizing: border-box;
}
.card h2{
    margin: 1rem auto;
}
.feature-section{
    margin: 100px 0px;
}
.feature-section h1{
    color: white;
    font-size: 3rem;
    margin:50px auto;
}
.feature-episodes{
    max-width: 1200px;
}
.feature-links{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature-video{
    width: 380px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
}
.feature-image{
    /* position: relative; */
}
.play-btn{
    color: white;
    background: linear-gradient(to top, #F7E93F,#FB09B4,#9100F8);
    width: 18px;
    padding: 10px;
    border-radius: 24px;
    position: absolute;
    margin-top: -120px;
    margin-left: 160px;

}
.feature-text{
        background-color: #351165;
        text-align: left;
        height: 170px;
        padding: 25px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
}
.feature-text h3{
    color: white;
    font-size: 1.5rem;
    margin: 10px 0px;
}
.feature-text p{
    color: white;
    font-size: 0.8rem;
    line-height: 2;
    margin-bottom: 20px;
}
.feature-text h5{
    color: #00ff88;
}
.host-section{
    margin: 200px 0px;
}
.host-card{
    display: flex;
    max-width: 1200px;
    gap: 30px;
    padding: 40px;
    background-color: #351165;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}
.host-description {
   display: block;
    justify-content: left;
    text-align: left;
}
.host-description h1{
       margin: 0px 20px;
}
.host-description p{
       margin: 20px;
       color: white;
       line-height: 2;
}
.host-links{
        display: flex ;
        justify-content: center;
        gap: 10px;
        width: 184px;
        margin-left: 15px;
        
}
.host-link{
    height: 15px;
    width: 15px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid gray;
}
footer{
    margin: 0 auto;
    background-color: #1A0B2E;
}
.footer-section{
    height: 412px;
    max-width: 1600px;
    background: url("../assets/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}
.footer-section h1{
    padding-top: 110px;
    font-size: 3rem;
    color: white;
}
.footer-section h5{
    color: white;
}
.footer-links{
    padding: 50px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 400px;
}

@media screen and (max-width:576px) {
                 nav{
                    justify-content: space-between;
                    padding: 24px 5px;
                 }
                 .nav-btn, .nav-links{
                    display: none;
                }
                .burger{
                    display: block;
                }

                .about-data{
                    grid-template-columns: repeat(2,1fr);
                    gap: 10px;
                }
                .cards{
                    display: block;
                    padding: 1rem;
                }
                .card{
                    margin-bottom: 20px;
                }
                .feature-links{
                    display: block;
                    max-width: 380px;
                    padding: 0;
                }
                .feature-video{
                    max-width: 350px;
                    margin-bottom: 20px;
                    padding: auto;
                    /* margin-left: -50px; */
                }
                .feature-image img{
                    max-width: 350px;
                }
                .host-card{
                    display: block;
                    padding: auto;
                    margin: 20px;
                }
                .host-description{
                    text-align: center;
                }
                .host-description h1{
                    font-size: 2rem;
                }
                .footer-links{
                    max-width: 350px;
                    grid-template-columns: repeat(2,1fr);
                    padding: 20px 0px;
                    margin: 0 auto;
                }
}